@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('/Gilroy-Medium-Rupee.woff2') format('woff2'),
         url('/Gilroy-SemiBold-Rupee.woff2') format('woff2'),
         url('/Gilroy-ExtraBold-Rupee.woff2') format('woff2'),
         url('/Gilroy-Bold-Rupee.woff2') format('woff2');
    font-weight: 400; 
    font-style: normal; 
  }
  